{% extends "_base.html" %}
{% block bodycontent %}


<body>



    <form action="/search" method="post">
      <div><input type="text" id="content" name="content" rows="3" cols="60"></div>
      <div><input type="submit" name="search" value="Search" onclick="sprawdz(form)"></div>
    </form>
    	<div id="loading">
				Loading...			
			</div>
			

    <input type="button" id="getitButton" value="get it" />
    <div id="result">
        </div>

    <script>
    function sprawdz(form){
    if(form.content.value.length!=0){
        query = document.getElementById('content').value;
        string = query.replace(/\s+|\s+$/g, '');
        $("#content").val(string);
        }
    }
    
    	function updateOfert(){
    		$.ajax({
	    	url: "/results",
	    	type: "GET",
	    	cache: false,
	    	success: function(fragment){
	    		$("#loading").html(fragment);
	    	
	    		}
	    	});
    	setTimeout('updateOfert()', 4000);
    	}
    	updateOfert();

    	

    </script>
{% endblock %}